/* txt color */
$gray-500: #4a4a4a;
$orange-500: #f75c2f;
$orange-600: #d03a10;
$blue-600: #006284;
$white: #fff;

/* position */
.p-relative {
  position: relative !important;
}

.container-fluid {
  padding: 0;
}

/* global */
html,
body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "PingFangTC", Arial,
    sans-serif;
  font-size: 14px;
  // overflow-x: hidden;
  @media (min-width: 768px) {
    font-family: "微軟正黑體", "Microsoft JhengHei", "PingFangTC", Arial,
      sans-serif;
    font-size: 16px;
  }
}

:target:before {
  content: "";
  display: block;
  height: 80px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.title-section {
  margin-bottom: 40px;
  .title-ch {
    font-size: 1.5rem;
    font-weight: bold;
    color: $gray-500;
  }
  .title-en {
    font-size: 1rem;
    font-weight: bold;
    color: $gray-500;
  }

  &.white-style {
    margin-top: 40px;
    .title-ch {
      color: $white;
    }
    .title-en {
      color: $white;
    }
  }
}

.sub-title {
  margin-bottom: 40px;
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $orange-600;
  }
}

// header
.header {
  &.header-bg {
    background-color: $white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition-timing-function: linear;
  }

  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;

    .navbar-brand {
      padding: 0;
      width: 100%;
      max-width: 240px;
      display: none;

      img {
        width: 100%;
      }

      &.show {
        display: block;
        transition-timing-function: linear;
      }
    }

    .nav-item {
      .nav-link {
        color: $gray-500;
        font-weight: 500;

        &:hover {
          color: #d03a10;
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: 480px) {
    .navbar {
      .navbar-brand {
        max-width: 372px;
      }
    }
  }

  @media (min-width: 992px) {
    .nav-item {
      .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }

  @media (min-width: 1200px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (min-width: 1441px) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.bg-banner-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 780px;
  overflow-x: hidden;
  z-index: -99;

  img {
    width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 793px;
  }

  @media (min-width: 1441px) {
    max-width: 850px;
  }
}
// .bg-banner-left {
//   background: url("../image/bg/bg-banner-left@2x.png") top left no-repeat;
//   background-size: cover;
//   width: 100%;
//   max-width: 793px;
//   height: 100%;
//   position: absolute;
//   top: 0;
// }

.bg-banner-right {
  position: absolute;
  top: 1200px;
  right: 0;
  width: 100%;
  max-width: 200px;
  z-index: -99;

  img {
    width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 280px;
  }

  @media (min-width: 992px) {
    max-width: 320px;
    top: 432px;
  }
}

/* banner */
.banner {
  padding: 20px 0;
  height: 300px;
  position: relative;

  .banner-content {
    h1 {
      font-size: 1.6rem;
      font-weight: bold;
      color: $white;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: $white;
    }

    h3 {
      margin-top: 12px;
      font-size: 1rem;
      font-weight: 500;
      color: $white;
    }

    .divider {
      margin-top: 20px;
      margin-bottom: 8px;
      width: 60px;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .banner-img {
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 0;
    left: 45%;

    img {
      width: 100%;
    }
  }

  @media (min-width: 480px) {
    height: 600px;
    .banner-content {
      h1 {
        font-size: 3.6rem;
      }

      h2 {
        font-size: 2.4rem;
      }

      h3 {
        font-size: 1.8rem;
      }

      .divider {
        margin-top: 28px;
        margin-bottom: 12px;
      }
    }

    .banner-img {
      max-width: 320px;
      transform: translateX(20%);
      -webkit-transform: translateX(20%);
      -moz-transform: translateX(20%);
      -ms-transform: translateX(20%);
      -o-transform: translateX(20%);
    }
  }

  @media (min-width: 768px) {
    padding: 40px 0;

    .banner-content {
      h1 {
        font-size: 3.6rem;
      }

      h2 {
        font-size: 2.4rem;
      }

      h3 {
        font-size: 1.8rem;
      }

      .divider {
        margin-top: 28px;
        margin-bottom: 12px;
      }
    }

    .banner-img {
      max-width: 400px;
      transform: translateX(5%);
      -webkit-transform: translateX(5%);
      -moz-transform: translateX(5%);
      -ms-transform: translateX(5%);
      -o-transform: translateX(5%);
    }
  }

  @media (min-width: 992px) {
    .banner-img {
      max-width: 500px;
    }
  }

  @media (min-width: 1200px) {
    .banner-img {
      max-width: 600px;
    }
  }

  @media (min-width: 1440px) {
    .banner-img {
      max-width: 600px;
      left: 50%;
    }
  }

  @media (min-width: 1600px) {
    .banner-img {
      max-width: 720px;
      left: 50%;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}

/* about our company */
.about-block {
  padding: 40px 0px;

  .content-txt {
    background: url("../image/bg/bg-about-kencont@2x.png") center center
      no-repeat;
    background-size: contain;
    p {
      font-size: 1rem;
      font-weight: bold;
      color: $gray-500;
    }

    ul {
      li {
        padding-left: 4px;
        font-size: 1rem;
        font-weight: bold;
        color: $gray-500;
        list-style-type: decimal;
      }
    }
  }

  .content-img {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    img {
      width: 100%;
    }
  }

  // @media (min-width: 1441px) {
  //   padding: 40px 0px;
  // }
}

/* service */
.service-block {
  padding: 40px 0px;

  .content-txt {
    p {
      font-size: 1rem;
      font-weight: bold;
      color: $gray-500;

      span {
        color: $blue-600;
      }
    }

    ul {
      li {
        padding-left: 4px;
        font-size: 1rem;
        font-weight: bold;
        color: $gray-500;
        list-style-type: decimal;
      }
    }
  }

  .content-img {
    margin: 0 auto;
    width: 100%;
    max-width: 430px;

    img {
      width: 100%;
    }
  }

  .row-direct {
    flex-direction: row-reverse;
  }
}

/* recruit */
.recruit-block {
  padding: 40px 0px;

  .content-txt {
    p {
      font-size: 1rem;
      font-weight: bold;
      color: $gray-500;
    }
  }

  .content-img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;

    img {
      width: 100%;
    }
  }
}

/* partner */
.partner-block {
  padding: 40px 0px;

  .content-img {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;

    img {
      width: 100%;
    }
  }
}

/* contact */
.contact-block {
  padding: 40px 0px 20px 0;
  background-color: $orange-500;
  background: url("../image/bg/bg-contact-top@2x.png") top center no-repeat;
  background-size: cover;
  position: relative;

  .content-txt {
    width: 100%;

    p {
      font-size: 1rem;
      font-weight: bold;
      color: $white;
    }

    .list-title {
      margin-bottom: 0.75rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: $white;
    }

    .list-content {
      margin-bottom: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      color: $white;
      a {
        color: $white;

        :hover {
          color: $white;
        }
      }
    }

    .slogan-txt {
      margin-top: 20px;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $white;
      }
    }
  }

  .content-img {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 100%;
    max-width: 120px;
    display: none;

    img {
      width: 100%;
    }
  }

  @media (min-width: 480px) {
    .content-img {
      display: block;
    }
  }
  @media (min-width: 992px) {
    .content-txt {
      width: 50%;

      .slogan-txt {
        margin-top: 28px;
        h2 {
          font-size: 2.25rem;
        }
      }
    }

    .content-img {
      max-width: 440px;
    }
  }

  @media (min-width: 1200px) {
    .content-img {
      right: 100px;
    }
  }

  @media (min-width: 1440px) {
    .content-img {
      right: 200px;
    }
  }
}

/* footer */
.footer {
  padding: 12px 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: $white;
  background-color: $orange-500;

  p {
    margin: 0;
  }
}
